
h5{
    max-width: 100vw;
    position: relative;
    left: 10%;
    bottom: 1rem;
    font-size: 1rem;
}
header{
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;
}
header h4{
    position: absolute;
    left: 10%;
    bottom: 1rem;
    font-size: 1.6rem;
    
}
/* Splash screen*/

.intro {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #131313;
    transition: 1s;  
    font-family: 'Poppins', sans-serif;
}

.logo-header{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}
.logo{
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
    font-family: 'Poppins', sans-serif;
}
.logo.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}
.logo.fade{
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}


/* start fade in animatie*/

.fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.fade-in.appear{
    opacity: 1;
}

/* nav */
h1{
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    font-size: 24px;
    line-height: 50px;
}
.navbar{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #ffffff;
    width: 100%;
    height: 70px;
    z-index: 1;
}
.nav{
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 65%;
    font-size: large;
}

img{
    width: 70%;
}

a{
    margin: 15px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}
a:hover{
    color: #000;
}
.banner-area{
    position: relative;
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fnl.wiktionary.org%2Fwiki%2Fwit&psig=AOvVaw1lxhi2YJun_BiMyefKm5lm&ust=1654203180560000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCICxnZqRjfgCFQAAAAAdAAAAABAG);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-area, .port-area, .contact-area{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 750px;
}
.text-part{
    width: 65%;
    height: 80%;
}        
.about-area{
    background-color: #fefefe;
}
.port-area{
    background-color: #000000;
    color: rgb(0, 0, 0);
}
.contact-area{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}
.banner-area>h1{
    color: gray;
    font-family: 'Lato', sans-serif;
    text-align: center;
    position: relative;
    top: 200px;
    
}

.grid {
    background: #f4f4f4;
    padding: 4em 0;
    display: grid;
    grid-gap: 2em;
    align-items: center;
    grid-template-columns: minmax(1em, 1fr) repeat(2, minmax(200px, 400px)) minmax(1em, 1fr);
}
.from-left {
    grid-column: 2 / 3;
    transform: translateX(-50%);        
}

.from-right {
    grid-column: 3 / 4;
    transform: translateX(50%);     
}
.from-left,
.from-right {
    transition: opacity 250ms ease-in, transform 400ms ease-in;
    opacity: 0; 
}

.from-left.appear,
.from-right.appear {
    transform: translateX(0);
    opacity: 1;
}
/* scrollbar */

/* width */
::-webkit-scrollbar {
    content-visibility: hidden;
}

